

:root {
    --blue: #2A324B;
    --lightblue: #58699D; 
    --lightgrey: #E1E5EE;
    --white: #fff;

    --font: 'Roboto';
}

body {
    background-color: var(--lightgrey);
    font-family: var(--font);
    display: flex; /*https://www.youtube.com/watch?v=7I6pb2MHRQg*/
    justify-content: center;
    align-items: center;
}

main {
    padding-top: 120px;
}

nav {
    background-color: transparent; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}
nav ul {
    list-style-type: none; /*https://www.w3schools.com/cssref/pr_list-style-type.php*/
    display: flex;
    align-items: center;  /*https://www.youtube.com/watch?v=qJVVZYTYA9U*/
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav a {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 1rem; 
    color: var(--white);
    text-decoration: none;
    box-sizing:  border-box;
    height: 70px;
    width: 180px;
    margin-right: 20px;
    background-color: var(--blue); 
    white-space: nowrap;
}

nav a.selected {
    color: var(--blue); 
    background-color: var(--white); 
    font-weight: bold;
}

#category-info-container {
    list-style-type: none; 
    display: flex;
    align-items: center;  
    justify-content: center;
    background-color: #fff; 
}

#category-info {
    width: 850px; 
    padding: 30px; 
}

a[href^="#"] {
    font-weight: 700; /* Hjelp av chatgpt */
}